.sidebar{
    display: none;
}
.main{
    padding:10px 0 0 0;
    margin: auto;
}
.resume-links{
    display:none;
}
.resume-row .col-md-9{
    padding:10px 0 0 0;
}
.resume-row .col-md-3{
    padding:10px 0 0 0;
}
.contact-info,
.social-media-links{
    display: block;
    width:100%;
}
.link-wrapper{
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
}