<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Portfolio - Amninder Chahal</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico" />
    <!--Bootstrap-->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!--Icons-->
    <link rel="stylesheet" href="css/material-icons.css">
    <!--Fonts-->
    <link href="css/google-fonts.css" rel="stylesheet">
    <!--Stylesheet-->
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" media="print" href="css/print.css">
</head>
<body ng-app="portfolio">
    <header>
        <div class="sidebar-toggle animateEaseInOut">
            <button class="btn btn-default" type="button">
                <span class="glyphicon glyphicon-menu-hamburger"></span>
            </button>
        </div>
        <div class="sidebar animateEaseInOut">
            <a class="nav-link" href="#/">
                <h4 class="nav-link-text">About</h4>
                <span class="nav-link-icon-span">
                    <hr class="nav-link-line" />
                    <p class="nav-link-icon"><i class="material-icons">account_box</i></p>
                </span>
                <p class="nav-link-subtitle">Who I Am</p>
            </a>
            <a class="nav-link" href="#/work">
                <h4 class="nav-link-text">Work</h4>
                <span class="nav-link-icon-span">
                    <hr class="nav-link-line" />
                    <p class="nav-link-icon"><i class="material-icons">desktop_mac</i></p>
                </span>
                <p class="nav-link-subtitle">View Projects</p>
            </a>
            <a class="nav-link" href="#/contact">
                <h4 class="nav-link-text">Contact</h4>
                <span class="nav-link-icon-span">
                    <hr class="nav-link-line" />
                    <p class="nav-link-icon"><i class="material-icons">contact_phone</i></p>
                </span>
                <p class="nav-link-subtitle">Get In Touch</p>
            </a>
        </div>
    </header>
    <div class="main">
        <div class="section {{ pageClass }}" ng-view></div>
    </div>
    <!-- Modal -->
    <div class="modal modal-rotate" id="modal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                <button type="button" class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl"></div>
                    </div>
                </button>
                </div>
                <div class="modal-body">
                    <h3 class="title heading-1">{{modal.title}}</h3>
                    <p class="project-lables">
                        <span ng-repeat="label in modal.labels" class="label label-primary">{{label}}</span>
                    </p>
                    <div class="project-wrapper">
                        <div class="project-section">
                            <div class="project-description">
                                <p>{{modal.description}}</p>
                                <ul ng-if="modal.features">
                                    <li ng-repeat="feature in modal.features">{{feature}}</li>
                                </ul>
                            </div>
                            <div ng-if="modal.github||modal.website" class="project-links">
                                <a class="project-github" ng-if="modal.github" href="{{modal.github}}" target="_blank">
                                    <i class="project-github-icon">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"><path d="M8 0C3.6 0 0 3.6 0 8 0 11.5 2.3 14.5 5.5 15.6 5.9 15.7 6 15.4 6 15.2 6 15 6 14.4 6 13.7 4 14.1 3.5 13.2 3.3 12.8 3.2 12.6 2.8 11.8 2.5 11.7 2.2 11.5 1.8 11.1 2.5 11.1 3.1 11.1 3.6 11.7 3.7 11.9 4.4 13.2 5.6 12.8 6.1 12.6 6.1 12.1 6.3 11.7 6.6 11.5 4.8 11.3 2.9 10.6 2.9 7.6 2.9 6.7 3.2 6 3.7 5.4 3.7 5.2 3.4 4.4 3.8 3.3 3.8 3.3 4.5 3.1 6 4.1 6.7 4 7.3 3.9 8 3.9 8.7 3.9 9.4 4 10 4.1 11.6 3.1 12.2 3.3 12.2 3.3 12.7 4.4 12.4 5.2 12.3 5.4 12.8 6 13.1 6.7 13.1 7.6 13.1 10.7 11.3 11.3 9.5 11.5 9.8 11.8 10 12.3 10 13 10 14.1 10 14.9 10 15.2 10 15.4 10.2 15.7 10.6 15.6 13.7 14.5 16 11.5 16 8 16 3.6 12.4 0 8 0L8 0Z"/></svg>
                                    </i>
                                    <p class="title heading-3">github</p>
                                </a>
                                <a class="project-website" ng-if="modal.website" href="{{modal.website}}" target="_blank">Visit Website</a>
                            </div>
                        </div>
                        <div class="image-wrapper">
                            <img ng-repeat="img in modal.img" ng-src="{{img}}" alt="Image">
                        </div>
                        <button type="button" class="btn btn-success" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Close Project</button>
                    </div>
                </div>
            </div>
        </div>
    </div> 
    <!--Modal ends here-->
    <!--Scripts-->
    <!--jQuery and Bootstrap-->
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <!--Angular JS-->
    <script src="js/angular.min.js"></script>
    <script src="js/angular-route.min.js"></script>
    <script src="js/angular-animate.min.js"></script>
    <!--custom scripts-->
    <script src="app.js"></script>
    <script src="js/script.js"></script>
    <script src="views/about.js"></script>
    <script src="views/work.js"></script>
    <script src="views/resume.js"></script>
</body>
</html>
