<div class="container-fluid">
    <div class="row heading-wrapper">
        <div class="name-heading-wrapper">
            <h1 class="title heading-1">Amninder Chahal</h1>
            <p class="subtitle">Front-End Developer</p>
        </div>
    </div>
    <div class="content-wrapper row">
        <div class="about-summary about-intro col-md-9 col-centered">
            <div class="profile-pic-wrapper">
                <img class="profile-pic img-thumbnail" src="images/profile.jpeg">   
            </div>
            <div class="intro-wrapper">
                <p class="intro-text">{{intro}}</p>
            </div>
            <div ng-if="summary" class="summary-wrapper">
                <p class="summary-text">{{summary}}</p>
            </div>
        </div>
        <div class="about-summary col-md-9 col-centered">
            <h3 class="title heading-2 about-section-title">Skills</h3>
            <div class="skills-text">
                <p></p>
            </div>
            <div class="skills-wrapper">
                <p class="skills-header">Front-end Skills</p>
                <div class"skill" ng-repeat="skill in skills.frontEnd">
                    <img class="skill-img" src="{{skill.img}}">
                    <p class="title skill-title">{{skill.title}}</p>
                </div>
            </div>
        </div>
    </div>
</div>