<div class="animateOnLoad">
    <div class="row heading-wrapper">
        <h1 class="heading-1 title">Projects</h1>
    </div>
    <div class="content-wrapper container-fluid">
        <div ng-repeat="project in projects" class="col-md-4 col-sm-6 col-xl-3">
            <div class="project">
                <a class="project-link" ng-click="projectClick($index, $event)" href="#">
                    <img class="project-img img-responsive" src="{{project.img[0]}}">
                    <div class="overlay">
                        <div class="text"><i class="material-icons">zoom_in</i></div>
                    </div>
                </a>
                <p class="project-title title heading-3">{{project.title}}</p>
            </div>
            
            <!-- Modal -->
            <div class="modal fade" id="modal-{{$index}}" role="dialog">
                <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                    <button type="button" class="close-modal" data-dismiss="modal">
                        <div class="lr">
                            <div class="rl"></div>
                        </div>
                    </button>
                    </div>
                    <div class="modal-body">
                        <h3 class="title heading-1">{{project.title}}</h3>
                        <p class="project-lables">
                            <span ng-repeat="label in project.labels" class="label label-default">{{label}}</span>
                        </p>
                        <div class="project-wrapper">
                            <div class="project-section">
                                <p class="project-description">{{project.description}}</p>
                                <div ng-if="project.github||project.website" class="project-links">
                                    <a class="project-github" ng-if="project.github" href="{{project.github}}" target="_blank">
                                        <i class="project-github-icon">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"><path d="M8 0C3.6 0 0 3.6 0 8 0 11.5 2.3 14.5 5.5 15.6 5.9 15.7 6 15.4 6 15.2 6 15 6 14.4 6 13.7 4 14.1 3.5 13.2 3.3 12.8 3.2 12.6 2.8 11.8 2.5 11.7 2.2 11.5 1.8 11.1 2.5 11.1 3.1 11.1 3.6 11.7 3.7 11.9 4.4 13.2 5.6 12.8 6.1 12.6 6.1 12.1 6.3 11.7 6.6 11.5 4.8 11.3 2.9 10.6 2.9 7.6 2.9 6.7 3.2 6 3.7 5.4 3.7 5.2 3.4 4.4 3.8 3.3 3.8 3.3 4.5 3.1 6 4.1 6.7 4 7.3 3.9 8 3.9 8.7 3.9 9.4 4 10 4.1 11.6 3.1 12.2 3.3 12.2 3.3 12.7 4.4 12.4 5.2 12.3 5.4 12.8 6 13.1 6.7 13.1 7.6 13.1 10.7 11.3 11.3 9.5 11.5 9.8 11.8 10 12.3 10 13 10 14.1 10 14.9 10 15.2 10 15.4 10.2 15.7 10.6 15.6 13.7 14.5 16 11.5 16 8 16 3.6 12.4 0 8 0L8 0Z"/></svg>
                                        </i>
                                        <p class="title heading-3">github</p>
                                    </a>
                                    <a class="project-website" ng-if="project.website" href="{{project.website}}" target="_blank">Visit Website</a>
                                </div>
                            </div>
                            <div class="image-wrapper">
                                <img ng-repeat="img in project.img" src="{{img}}" alt="Image">
                            </div>
                            <button type="button" class="btn btn-success" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Close Project</button>
                        </div>
                    </div>
                </div>
                </div>
            </div> 
        </div>  
    </div>
</div>
<script>
    $('.animateOnLoad').delay(600).fadeIn(600);
</script>